[
    {sasl, [
        {sasl_error_logger, {file, "logs/sasl.log"}}
    ]},
    
    {kernel, [
        {logger, [
            {handler, default, logger_std_h,
                #{formatter => {logger_formatter, #{single_line => true}}}}
        ]}
    ]},
    
    {lhttpc, [
        {domains_to_cache, ["dynamodb.us-west-2.amazonaws.com"]},
        {dns_cache_opts, {millisecond, 1000}}
    ]}
].